<div class="Cardscontainer">
    <div class="card fade-in">
        <div class="TitleBx">
            <img src="static/assets/Electronics/2-Laptops-Voodoo-Cat-tile.jpg" alt="product">
        </div>
        <div class="content">






        </div>
    </div>
    <div class="card fade-in">
        <div class="TitleBx">
            <img src="static/assets/Electronics/6-Television-Voodoo-Cat-tile.jpg" alt="product">
        </div>
        <div class="content">
            <br>
            <br>
            <br>


            A Basic 2D game using Python (pygame) vintage style


        </div>
    </div>
    <div class="card fade-in">
        <div class="TitleBx">
            <img src="static/assets/Electronics/12-Networking-Devices-Voodoo-Cat-tile.jpg" alt="product">
        </div>
        <div class="content">
            <br>

            A detailed 2D Game made with Unity3D and C# for Android.




        </div>
    </div>
    <div class="card fade-in">
        <div class="TitleBx">
            <img src="static/assets/Mobile/1-Mobile-Phones-Voodoo-Cat-tile.jpg" alt="product">
        </div>
        <div class="content">
            <br>







        </div>
    </div>
    <div class="card fade-in">
        <div class="TitleBx">
            <img src="static/assets/Mobile/3-Tablets-Voodoo-Cat-tile.jpg" alt="product">
        </div>
        <div class="content">
            <br>
            <br>
            <br>
            <br>
            <br>
            You can check my other Minor Projects on my Github Profile or LinkedIn profile.

        </div>
    </div>
    <div class="card fade-in">
        <div class="TitleBx">
            <img src="static/assets/Mobile/7-Headphones-Voodoo-Cat-tile.jpg" alt="product">
        </div>
        <div class="content">
            <br>







        </div>
    </div>
    <div class="card fade-in">
        <div class="TitleBx">
            <img src="static/assets/Daily use/01_CEPC.jpg" alt="product">
        </div>
        <div class="content">
            <br>







        </div>
    </div>
    <div class="card fade-in">
        <div class="TitleBx">
            <img src="static/assets/Daily use/10-Office-Products-Voodoo-Cat-tile.jpg" alt="product">
        </div>
        <div class="content">
            <br>







        </div>
    </div>
    <div class="card fade-in">
        <div class="TitleBx">
            <img src="static/assets/Daily use/waterPurifier.jpg" alt="product">
        </div>
        <div class="content">
            <br>







        </div>
    </div>
</div>