{% extends "base2.html" %}

{% block css %}
<style>
  
h1 {
        font-size: 40px;
        font-family: 'Ubuntu', sans-serif;
        font-weight: 400;
        margin: 0;
    }
    .footer {
   position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   background-color: #000;
   color: #fff;
   border-top: 1px solid #000;
   text-align: center;
}


    h2 {
        
        font-size: 30px !important;
        font-weight: 400;
        margin: 0;
    }
    h3 {
        
        font-size: 21px !important;
        font-weight: 400;
        margin: 0;
    }

    p {
        font-size: 18px;
        margin-bottom: 10px !important;
    }

    

    a:hover {
        color: #20023c;
    }

    * {
  box-sizing: border-box;
}
#main-container_2 h1{
    font-size: 52px !important ;
}

#my-div {
    position: relative;
    background-color: rgb(227, 227, 245);
    width: 500px;
    height: 520px;
}

.fade-in{
  opacity:0;
  transition: opacity 250ms ease-in;
}

.fade-in.appear{
  opacity: 1;
}



.icon:hover {
  box-shadow: 0 0 31px rgba(0, 81, 255, 0.479); 
}



#main-container_2 {
  position: absolute;
  left: 0;
  right: 0;
  top: 10% !important;
  margin: 0 auto;
  width: 700px;
  text-align: center;
}

@media (max-width: 500px) {
  #main-container_2 {
    top: 0%;
    width: 100%;
    padding: 30px;
  }
}



#main-container_2 img{
  
  opacity: 0.3;
}

#particles-js
{
  position: fixed;
}

#universe
{
  position: fixed;
}
#description_2 {
  margin: 10px 0 0 0;
}

body .Cardscontainer{
  top: 10%;
  left: 20%;
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;

}

.Cardscontainer{
    position: relative;
    margin-right: -200px;
    height: 100vh;
    width: 1100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 30px;
}

.Cardscontainer .card{
    position: relative;
    max-width: 300px;
    height: 215px;
    background: rgb(233, 233, 233);
    text-align: center;
    

    margin: 30px 10px;
    padding: 20px 15px;
    display: flex;
    flex-direction: column;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.445);
    transition: 0.3s ease-in-out;
}


.Cardscontainer .card .TitleBx {
    position: relative;
    width: 250px;
    height: 160px;
    top: -10px;
    left: 10px;
    z-index: 1;
    box-shadow: 0 5px 20px rgba(0, 39, 146, 0.486);
}



.Cardscontainer .card .content {
    position: relative;
    top: 10%;
    
    
    padding: 10px 15px;
    text-align: center;
    color: #111;
    visibility: hidden;
    opacity: 0;
    transition: 0.3s ease-in-out;
}

.Cardscontainer .card:hover{
    height: 435px;
}

.Cardscontainer .card:hover .content{
    
    visibility: visible;
    opacity: 1;
    margin-top: -50px;
    transition-delay: 0.1s;
}
</style>
{% endblock %}

{% block title %}Trends{% endblock %}



{%block navlist %} 

{%endblock%}




{% block content %}
<div id="main-container_2">
  <marquee behavior="" direction="" bgcolor="cyan" ><h3 style="color: crimson;">Exciting discounts on branded products. Get upto 70% off on trusted brands.</h3></marquee>
  <marquee behavior="" direction="" bgcolor="yellow">
    <h3 style="color: rgb(203, 20, 220);">Get Trends assured brands such as LEVIS, H&M, LEE, FOREVER11 and much more..</h3>
  </marquee>
  <br>
  <br>
  <br>

    <h1>Welcome To TRENDS . </h1>
    <h2>Your very own Shopping destination</h2>
    <h3>Get Fashion Electronics and Daily related Products at minimum price.</h3>
    <br>
    <br>

    <img src="static/assets/logo.png" alt="">
    
</div>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>




<div class="Cardscontainer">
  <div class="card fade-in">
    <div class="TitleBx">
      <img src="https://assets.myntassets.com/f_webp,w_196,c_limit,fl_progressive,dpr_2.0/assets/images/2020/11/14/0524cbd5-f034-4155-9e3b-336c4e530ee41605363272658-Home---Levis.jpg" width="200" 
     height="250" alt="product">
    </div>
    <div class="content">
      <br>
      <br>
      <br>
      <br>
      <h2>LEVIS</h2>
      <a href=""><input type="button" id="button" name="search" value="Shop" /></a>

    </div>
  </div>
  <div class="card fade-in">
    <div class="TitleBx">
      <img src="https://assets.myntassets.com/f_webp,w_196,c_limit,fl_progressive,dpr_2.0/assets/images/2020/11/14/5544cd64-d95b-461d-802a-8025fdfeb3331605363272844-Home---Nike.jpg" width="200" 
     height="250" alt="product">
    </div>
    <div class="content">
      <br>
      <br>
      <br>
      <br>
      <h2>NIKE</h2>
      <a href=""><input type="button" id="button" name="search" value="Shop" /></a>

    </div>
  </div>
  <div class="card fade-in">
    <div class="TitleBx">
      <img src="https://assets.myntassets.com/f_webp,w_196,c_limit,fl_progressive,dpr_2.0/assets/images/2020/11/14/6e0a9fa0-9e8d-4c29-9250-995c9f1ba9331605363273176-Home---U.S.-Polo-Assn..jpg" width="200" 
     height="250" alt="product">
    </div>
    <div class="content">
    <br>
    <br>
    <br>
    <br>
    <h2>U.S. POLO</h2>
    <a href=""><input type="button" id="button" name="search" value="Shop" /></a>
    </div>
  </div>
  <div class="card fade-in">
    <div class="TitleBx">
      <img src="static/assets/Mobile/1-Mobile-Phones-Voodoo-Cat-tile.jpg" alt="product">
    </div>
    <div class="content">
    <br>
    <br>
    <br>
    <br>
    <h2>Mobile and Accessories</h2>
    <a href=""><input type="button" id="button" name="search" value="Shop" /></a>
    </div>
  </div>
  <div class="card fade-in">
    <div class="TitleBx">
      <img src="static/assets/Mobile/3-Tablets-Voodoo-Cat-tile.jpg" alt="product">
    </div>
    <div class="content">
    <br>
    <br>
    <br>
    <br>
    <h2>Tablets and Accessories</h2>
    <a href=""><input type="button" id="button" name="search" value="Shop" /></a>
    </div>
  </div>
  <div class="card fade-in">
    <div class="TitleBx">
      <img src="static/assets/Mobile/7-Headphones-Voodoo-Cat-tile.jpg" alt="product">
    </div>
    <div class="content">
  <br>
  <br>
  <br>
  <br>
  <h2>Headsets and Earphones</h2>
  <a href=""><input type="button" id="button" name="search" value="Shop" /></a>
    </div>
  </div>
  <div class="card fade-in">
    <div class="TitleBx">
      <img src="static/assets/Daily use/01_CEPC.jpg" alt="product">
    </div>
    <div class="content">
    <br>
    <br>
    <br>
    <br>
    <h2>Kitchen Accessories</h2>
    <a href=""><input type="button" id="button" name="search" value="Shop" /></a>

    </div>
  </div>
  <div class="card fade-in">
    <div class="TitleBx">
      <img src="static/assets/Daily use/10-Office-Products-Voodoo-Cat-tile.jpg" alt="product">
    </div>
    <div class="content">
    <br>
    <br>
    <br>
    <br>
    <h2>Stationery & Work</h2>
    <a href=""><input type="button" id="button" name="search" value="Shop" /></a>
    </div>
  </div>
  <div class="card fade-in">
    <div class="TitleBx">
      <img src="static/assets/Daily use/waterPurifier.jpg" alt="product">
    </div>
    <div class="content">
      <br>
      <br>
      <br>
      <br>
      <h2>Water Purifiers</h2>
      <a href=""><input type="button" id="button" name="search" value="Shop" /></a>
    </div>
  </div>
  <div class="footer">
    <p>Copyright 2021 Rishi</p>
  </div>
</div>


{% endblock %}